.mainContainer {
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

}

.panel-content-app {    
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0.2%;
    top: 0.2%;
    width: 99.5%;
    height: 99%;
    border: 1px solid var(--bs-black);
    background-image: url("/assets/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}