:root {
    --bs-azul-header: #A50050;
    --bs-azul-header: #08397E;
    --bs-azul-odd: #9EC7FC;
    --bs-azul-data: #E8F6FF;

    --bs-blue: #2a9fd6;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #c00;
    --bs-orange: #fd7e14;
    --bs-yellow: #f80;
    --bs-green: #77b300;
    --bs-teal: #20c997;
    --bs-cyan: #93c;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #555;
    --bs-gray-dark: #222;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #adafae;
    --bs-gray-500: #888;
    --bs-gray-600: #555;
    --bs-gray-700: #282828;
    --bs-gray-800: #222;
    --bs-gray-900: #212529;
    --bs-primary: #2a9fd6;
    --bs-secondary: #555;
    --bs-success: #77b300;
    --bs-info: #93c;
    --bs-warning: #f80;
    --bs-danger: #c00;
    --bs-light: #222;
    --bs-dark: #adafae;
    --bs-primary-rgb: rgb(42, 159, 214);
    --bs-secondary-rgb: rgb(85, 85, 85);
    --bs-success-rgb: rgb(119, 179, 0);
    --bs-info-rgb: rgb(153, 51, 204);
    --bs-warning-rgb: rgb(255, 136, 0);
    --bs-danger-rgb: rgb(204, 0, 0);
    --bs-light-rgb: rgb(34, 34, 34);
    --bs-dark-rgb: rgb(173, 175, 174);
    --bs-white-rgb: rgb(255, 255, 255);
    --bs-black-rgb: rgb(0, 0, 0);
    --bs-body-color-rgb: rgb(173, 175, 174);
    --bs-body-bg-rgb: rgb(6, 6, 6);
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-font-monospace: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #adafae;
    --bs-body-bg: #060606;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #2a9fd6;
    --bs-link-hover-color: #227fab;
    --bs-code-color: #e83e8c;
    --bs-highlight-bg: #ffe7cc;
}

.row-100 {
    display: flex;
    width: 100%;
}

.no-params {
    width: 100%;
    height: 100%;
}